In [2]:
import pandas as pd
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [14]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
# pass a dict to init df
football = pd.DataFrame(data)
#Also print the index of row which starts with 0
football


def drop_rows_by_year(football,year):

    # mask=football['year'].isin([2011])
    mask=football.year.isin([year])
    # type(mask)

    type(football[mask])
    # football.drop(mask,inplace=True)
    type(football[mask].index)
    football.drop(football[mask].index,inplace=True)
    
drop_rows_by_year(football,2011) 
football

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

   losses     team  wins  year
0       5    Bears    11  2010
2       6    Bears    10  2012
4       5  Packers    11  2012
5      10    Lions     6  2010
7      12    Lions     4  2012

pandas.core.frame.DataFrame

pandas.core.indexes.numeric.Int64Index

   losses     team  wins  year
0       5    Bears    11  2010
2       6    Bears    10  2012
4       5  Packers    11  2012
5      10    Lions     6  2010
7      12    Lions     4  2012

In [4]:
?np.around

In [2]:
df=pd.DataFrame([1,2,3])
df

   0
0  1
1  2
2  3